.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.active {
  animation: animationPlay 2s linear infinite;
}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@keyframes animationPlay {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}