<<<<<<< HEAD
=======
.container {
  position: relative;
}

.album {
  display: flex;
  align-items: center;
}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
>>>>>>> 81aac03e3e88be42b55b549babbe3f8dc2280e0c
