.container {
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

.item {
  width: 78px;
  height: 100%;
  margin-right: 10px;
}

.item:last-child {
  margin-right: 0;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 7px;
}

.title {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color);
  font-weight: 600;
}

.album {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color);
  font-weight: 300;
}

.artist {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color);
  font-weight: 300;
}