.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color);
  font-weight: 600;
}

.container svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}