.container {
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

.item {
  width: 166px;
  height: 100%;
  margin-right: 10px;
}

.item:last-child {
  margin-right: 0;
}

.image {
  height: 166px;
  width: 166px;
}