.container {
  color: var(--font-color);
  background-color: var(--background-menu);
  border-top: 1px solid var(--border-reduce-player);
  border-bottom: 1px solid var(--border-reduce-player);
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 100vw;
  height: 47px;
  display: flex;
  align-items: center;
}

.reducePlayer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.coverAndText {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infosText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.blankContainer {
  width: 25%;
  display: flex;
}

.icons {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.infosText a {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.songTitle {
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 5px;
}

.songArtist {
  font-size: 9px;
  font-weight: 300;
}

.arrow {
  transform: rotate(180deg);
}