.container {
  padding-bottom: 87px;
}

.subTitle {
  font-size: 25px;
  font-family: 'Fugaz One', cursive;
  color: var(--font-color);
  font-weight: 400;
}

.subTitle:first-child {
  margin-top: 50px;
}