.container {
  padding-bottom: calc(35px + 60px + 47px); /* Pour permettre de scroll sous le menu */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Listener{
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.titles{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    display: flex;
    align-items:  center;
    flex-direction: column;
    justify-content: space-around;
}

.songTitle{
    font-weight: bold;
    font-size: 25pt;

}

.songArtist{
    font-size: 16pt;
}