.container {
  margin-top: 45px;
  padding-bottom: 67px;
}

.arrow {
  position: absolute;
  top: 20px;
  left: 20px;
}

.arrow svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
  transform: rotate(90deg);
}

.container h1 {
  font-size: 35px;
  font-family: 'Fugaz One', cursive;
  color: var(--font-color);
  font-weight: 400;
  margin-top: 50px;
}