.container {
  margin-bottom: 40px;
}

.accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-family: 'Fugaz One', cursive;
  color: var(--font-color);
  font-weight: 400;
  background: none;
  padding: 0;
}

.accordion svg {
  width: 16px;
  height: 16px;
  transition: all 0.4 ease;
}

.active svg {
  transform: rotate(180deg);
}