.container {
    width:100%;
}

.title {
font-family: 'Montserrat', sans-serif;
color: var(--font-color);
font-size: 15px;
text-align: center;
}

.artist {
font-family: 'Montserrat', sans-serif;
color: var(--font-color);
font-size: 14px;
text-align: center;
}

.vinyl {
font-family: 'Montserrat', sans-serif;
color: var(--font-color);
font-size: 12px;
text-align: center;
}